<!DOCTYPE html>
<html>
<head>
  <title>BITSmart | Home</title>
  {%include '__headerfiles.html' %}
</head>

<body>
{%include '__navbar.html'%}

<div class="container">
  <div class="cell-out col-sm-10 col-sm-offset-1">
    <div class="cell-in bordered-box">
      <h1 class="text-center"><img src="static/img/bitsmart_half.png"></h1>
    </div>
  </div>

  <div class="col-sm-5 cell-out col-sm-offset-1">
    <div class="cell-in bordered-box text-center homepage_ad">
      <a href="/cabs/offers/">
        <h1><span class="fa fa-car fa-2x"></span></h1>
        <h2>Cab Pooling</h2>
      </a>
    </div>
  </div>

  <div class="col-sm-5 cell-out">
    <div class="cell-in bordered-box text-center homepage_ad">
      <a href="/books/offers/">
        <h1><span class="fa fa-book fa-2x"></span></h1>
        <h2>Books</h2>
      </a>
    </div>
  </div>

  <div class="col-sm-5 cell-out col-sm-offset-1">
    <div class="cell-in bordered-box text-center homepage_ad">
      <a href="/main/offers/electronics/">
        <h1><span class="fa fa-plug fa-2x"></span></h1>
        <h2>Electronics</h2>
      </a>
    </div>
  </div>

  <div class="col-sm-5 cell-out">
    <div class="cell-in bordered-box text-center homepage_ad">
      <a href="/main/offers/trunks/">
        <h1><span class="fa fa-archive fa-2x"></span></h1>
        <h2>Trunks</h2>
      </a>
    </div>
  </div>

  <div class="cell-out col-sm-4 col-sm-offset-4">
    <div class="cell-in bordered-box text-center homepage_ad">
      <a href="#">
        <h4>See Your Ads</h4>
      </a>
    </div>
  </div>
</div>




</body>
</html>