<!DOCTYPE html>
<html>
<head>
  <title></title>
  {%include '__headerfiles.html' %}
</head>

<body>
{%include '__navbar.html'%}

<div class="container">
	{% if hide_search %}
	<div class="col-sm-12 cell-out">
		<div class="cell-in ad-search bordered-box">
			<form method="POST" action="/main/electronics/search/">
				<div class="row">
					<div class="form-group col-sm-2">
						<div class="form-group text-center">
							<h3 style="margin-top:0;xmargin-right:20px">Search</h3>
						</div>
					</div>

					<div class="form-group col-sm-7">
						<input type="text" class="form-control make-sharp" id="item_name" placeholder="Search item" style="width:100%" name="search_term">
			    </div>
					<div class="form-group col-sm-3">
						<input type="submit" class="form-control make-sharp make-flat btn btn-primary btn-block btn-flat" id="ad_search"  value="Search">
					</div>
					<p style="clear:both"></p>
				</div>
			</form>
		</div>
	</div>
	{% endif %}
	<div class="col-sm-10 col-sm-offset-1">
	{% for x in all_offers %}
		<div class="row">
			<div class="col-sm-12 cell-out">
				<div class="cell-in ad-info bordered-box">
					<div class="col-sm-6 col-sm-offset-1">
						<p class="row">
							<strong class="col-sm-3 text-center">
								<img src="{{x.img.url}}" class="img-responsive">
							</strong>
							<span class="col-sm-9" style="font-size:16px">
								{{ x.name }}
								<br><span class="text-muted">
								{{x.description}}
								</span>
							</span>
							<span title="Price" class="col-sm-9 fa fa-rupee"> 
								{{x.price}}
							</span>
						</p>
					</div>
					<div class="col-sm-4">
						<p class="row">
							<strong class="col-sm-4 text-center">
								<span title="E-mail" class="fa fa-2x fa-envelope-o"></span>
							</strong>
							<span>
								{{ x.user.username}}@pilani.bits-pilani.ac.in
							</span>
						</p>
						{% if x.phone %}
							<p class="row">
								<strong class="col-sm-4 text-center">
									<span title="Phone" class="fa fa-phone fa-2x"></span>
								</strong>
								<span>
									{{x.phone}}
								</span>
							</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>

<!-- initiate date selector -->
<script type="text/javascript">
  $('#taxi_date_call').datetimepicker({format: "DD - MM - YY"});
</script>

</body>
</html>
